/* Style CSS */
body {
  background-color: #f9f9f9;
  font-family: 'Poppins',sans-serif;
  color:#333;
  margin: 40px;
}
.photo-profil {
  width: 150px;      /* largeur réduite */
  height: 150px;     /* hauteur réduite */
  object-fit: cover; /* pour bien cadrer la photo */
  border-radius: 50%; /* optionnel : rend la photo ronde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ombre douce */
}

h1 {
  color: green;
}
a {
  color:blue;
  text-decoratin: none;
}
nav a {
  margin-right: 15px;
  font-weight : bold;
}
nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #666;
}
