/* Style CSS */
body {
  background-color: #f9f9f9;
  font-family: 'Poppins',sans-serif;
  color:#333;
  margin: 40px;
}
.photo-profil {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%; /* Ronde */
  float: right;       /* Photo à droite du CV */
  margin: 0 0 20px 20px;
}

h1 {
  color: green;
}
a {
  color:blue;
  text-decoratin: none;
}
nav a {
  margin-right: 15px;
  font-weight : bold;
}
nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #666;
}
